<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Работа с User</title>
</head>

<body>
<h3 th:text="${user.id == null ? 'Добавление user' : 'Изменение user'}"></h3>
<div class="container">
    <form th:action="@{/edit}"
          th:object="${user}" method="post" class="form-horizontal">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="id (*)" class="form-control" hidden/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{name}" placeholder="name (*)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{surname}" placeholder="surname (*)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{age}" placeholder="age (*)" class="form-control"/>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Готово</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>