<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<h1>Информация о Users</h1>
<br/><br/>
<div>
  <table border="2">
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Возраст</th>
      <th>Действия</th>
    </tr>

    <tr th:each="us : ${users}">
      <td th:text="${us.id}"/>
      <td th:text="${us.name}"/>
      <td th:text="${us.surname}"/>
      <td th:text="${us.age}"/>

      <td>
        <a th:href="@{'/delete/' + ${us.id}}"  th:text="Удалить"/>
        <a th:href="@{'/edit/' + ${us.id}}">Изменить</a>
      </td>
    </tr>
  </table>
  <br>
  <a th:href="@{/add/}">Добавить user</a>
  <br>
</div>
</body>
</html>